<app-nav-bar-component [searchItem]="searchItemProduct">
</app-nav-bar-component>

<!-- <div class="cart-container" (click)="shoppingBasket()">
    <i class="fa-solid fa-cart-shopping"></i>
    <span class="cart-count"> {{cartCount()}} </span>
</div> -->

<div class="main-div">
    <h1> Our Collections </h1>

    <div class="card-container">
        @for (productItem of filteredProduct(); track productItem) {
        <div class="card">
            <img [src]="productItem.image" alt="Product Image" class="product-image">
            <p>{{productItem.title}}</p>
            <p> €{{productItem.price}}</p>
            <button class="card-button" (click)="sendingProductData(productItem)"> Add to cart </button>
        </div>
        }
    </div>
</div>