<app-nav-bar-component [showSearch]="false"> </app-nav-bar-component>

<div class="basket-main">
  <div class="basket-wrapper">
      <button class="back-btn"  (click)="backtoProduct()"> Back to Product </button>

    <h1>Shopping Basket</h1>
    @if (cartItem().length === 0) {
      <div class="empty-basket">
        There is no item in the Basket.
      </div>
    } @else {
      <div class="basket-list">
        @for (item of cartItem(); track item.product.id) {
          <div class="basket-item">
            <div class="basket-item-img">
              <img [src]="item.product.image" alt="Product Image" />
            </div>
            <div class="basket-item-details">
              <div class="basket-item-title">{{ item.product.title }}</div>
              <div class="basket-item-actions">
                <button class="basket-btn" (click)="deteleProductFrormCart(item.product.id!)"><i class="fa fa-trash"></i></button>
                <button class="basket-btn" (click)="decreaseProductInCart(item.product)"> - </button>
                <span class="basket-qty"> {{item.quantity}} </span>
                <button class="basket-btn" (click)="increaseProductInCart(item.product)">+</button>
                <button class="share-btn" (click)="shareProduct(item.product)"> Share <i class="fa-solid fa-share-nodes"></i> </button>
              </div>
            </div>
            <div class="basket-item-price">
              <span>€{{ item.product.price * item.quantity}}</span>
            </div>
          </div>
        }
      </div>
    }
  </div>
  <div class="basket-summary">
    <div class="basket-summary-title">
      Subtotal ({{ subTotalItem() }} items): €{{ subTotalPrice().toFixed(2) }}
    </div>
    <button class="checkout-btn" (click)="checkoutPage()">Proceed to Checkout</button>
  </div>
</div>

